{{> header }}

<div id="contents">
    <div class="box">
        <div>
            <div class="body">
                <h1>Travel</h1>
                <ul id="sites">
                    {{#if trips.length}}
                        {{#each trips}}
                        <li>
                            <a href="/travel/{{name}}"><img src="{{image}}" alt="{{name}}"></a>
                            <h2><a href="/travel/{{name}}">{{name}}</a></h2>
                            <p>
                                {{{description}}}
                            </p>
                        </li>
                        {{/each}}
                    {{else}}
                        <p>No trips available at the moment.</p>
                    {{/if}}
                </ul>
            </div>
        </div>
    </div>
</div>

{{> footer }}
